<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="constr" connectionString="Server=.;DataBase=SuperMarket;uid=sa;pwd=1218;"/>
  </connectionStrings>
</configuration>